body {
    height: 100vh;
    text-align: center;  
}

.container {
    height: 80vh;
    max-width: 600px;
}

h1 {
    font-size: 3rem;
    margin: 20px 10px;
    text-align: center;
}

.list-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lista {
    font-size: 1.5rem; 
    margin-top: 20px; 
}